/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* #Base 960 Grid
================================================== */

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.column,
.columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  margin-bottom: 20px;
}

/* Nested Column Classes */

.column.alpha {
  margin-left: 0;
}

.column.omega {
  margin-right: 0;
}

/* Base Grid */

.container .seven.columns {
  width: 400px;
}

.container .nine.columns {
  width: 520px;
}

.container .sixteen.columns {
  width: 940px;
}

.container .one-third.column {
  width: 300px;
}

.container .two-thirds.column {
  width: 620px;
}

/* Offsets */

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* Offsets */

  .container {
    width: 768px;
  }

  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  .column.alpha {
    margin-left: 0;
    margin-right: 10px;
  }

  .column.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  .container .seven.columns {
    width: 316px;
  }

  .container .nine.columns {
    width: 412px;
  }

  .container .sixteen.columns {
    width: 748px;
  }

  .container .one-third.column {
    width: 236px;
  }

  .container .two-thirds.column {
    width: 492px;
  }
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  /* Offsets */

  .container {
    width: 300px;
  }

  .columns,
  .column {
    margin: 0;
  }

  .container .seven.columns,
  .container .nine.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 300px;
  }
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }

  .columns,
  .column {
    margin: 0;
  }

  .container .seven.columns,
  .container .nine.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px;
  }
}

/* #Clearing
================================================== */

/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */

.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after {
  clear: both;
}

.row {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */

/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */

.slides,
.flexslider li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/

.flexslider {
  position: relative;
}

.flexslider .slides > li {
  display: none;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Clearfix for the .slides element */

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* Pre-onload event || no-js fallback */

/* FlexSlider Default Theme
*********************************/

.flexslider .slides {
  zoom: 1;
}

.flexslider .slides > li {
  position: relative;
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */

/* Caption style */

/* IE rgba() hack */

/* Direction Nav */

/* Control Nav */

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h6,
p,
a,
img,
ul,
li,
table,
article,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
header,
nav {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles
================================================== */

body {
  background: #eee;
  font: 13px/18px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c4c4c;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */

h1,
h2,
h3,
h4,
h6 {
  color: #404040;
  font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-shadow: 0px 1px 0px #fff;
}

.dark h1,
.dark h2,
.dark h6 {
  color: #efefef;
  text-shadow: 0px 2px #000;
}

h3 a,
h4 a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

h1 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

h3 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

h4 {
  font-size: 17px;
  line-height: 24px;
}

h6 {
  font-size: 13px;
  line-height: 19px;
}

.subheader {
  color: #777;
}

.dark .subheader {
  color: #ccc;
  text-shadow: none;
}

p {
  margin: 0 0 20px 0;
}

p img {
  margin: 0;
}

/*  Blockquotes  */

img::selection {
  background: rgba(0, 0, 0, 0.3);
}

.dark img::selection {
  background: rgba(0, 0, 0, 0.3);
}

img::-moz-selection {
  background: rgba(0, 0, 0, 0.3);
}

.dark img::-moz-selection {
  background: rgba(0, 0, 0, 0.3);
}

/* #Links
================================================== */

a,
a:visited {
  color: #555;
  text-decoration: underline;
  outline: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a:hover,
a:focus {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

p a,
p a:visited {
  line-height: inherit;
}

.dark a,
.dark a:visited {
  color: #999;
}

.dark a:hover,
.dark a:focus {
  color: #fff;
}

a img {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

a:hover img {
  zoom: 1;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* #Lists
================================================== */

ul {
  margin-bottom: 20px;
}

ul {
  list-style: none outside;
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* #Images
================================================== */

img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* #Buttons (default color: grey)
================================================== */

a.button,
a.button:visited {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.09)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#17000000', GradientType=0);
  /* IE6-8 */
  background-color: #fff;
  color: #555;
  text-shadow: 1px 1px white;
  border: 1px solid #eee;
  border-top: 1px solid #ccc;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 5px 0px rgba(255, 255, 255, 0.7) inset;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 5px 0px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 5px 0px rgba(255, 255, 255, 0.7) inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 12px;
  margin-bottom: 20px;
  line-height: 21px;
  font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.button:hover {
  background-color: #f1f1f1;
  border-bottom: 1px solid #e7e7e7;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 5px 0px rgba(255, 255, 255, 0.7) inset;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 5px 0px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 0px 5px 0px rgba(255, 255, 255, 0.7) inset;
}

a.button:active {
  background-color: #ddd;
  border: 1px solid #999;
  border-bottom: 1px solid #888;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 10px -3px #000 inset;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 10px -3px #000 inset;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 10px -3px #000 inset;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
}

/* === Buttons in dark context === */

.dark a.button,
.dark a.button:visited {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.09)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-8 */
  background-color: #202020;
  border: none;
  color: #ccc;
  text-shadow: 1px 1px black;
  -moz-box-shadow: 0px 1px 5px 0px black, 0px 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0px 1px 5px 0px black, 0px 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0px 1px 5px 0px black, 0px 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
}

.dark a.button:hover {
  background-color: #2b2b2b;
  color: #fff;
  -moz-box-shadow: 0px 2px 5px 0px black, 0px 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0px 2px 5px 0px black, 0px 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0px 2px 5px 0px black, 0px 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
}

.dark a.button:active {
  background-color: #222;
  color: #999;
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 2px rgba(0, 0, 0, 0.7) inset;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 2px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 2px rgba(0, 0, 0, 0.7) inset;
}

/* ie9 fails to render rounded-corners + gradient made with filter */

a.button.featured,
a.button.featured:visited,
.button.featured {
  display: block;
  width: 60%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 14px;
  line-height: auto;
  padding: 7px 20px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

/* #Tabs
================================================== */

/* Tabs in black context */

/* Clearfixing tabs for beautiful stacking */

/* #Forms
================================================== */

/* #Misc
================================================== */

.remove-bottom {
  margin-bottom: 0 !important;
}

/* Spark Layout */

body,
html {
  overflow: hidden;
}

#main {
  position: absolute;
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; /* supported on iOS5-b2+ but not used here (.mobile fallback) */
  top: 89px;
  left: 0;
  bottom: 0;
  right: 0;
}

header {
  background: #eee;
  border-top: 6px solid #000;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
}

nav ul {
  float: right;
  height: 61px;
  margin-bottom: 20px;
}

nav li {
  list-style: none;
  display: block;
  float: left;
  margin-top: -6px;
  margin-bottom: 0;
}

/* Blurr effect (experimentation) */

/*
nav:hover a {
  color: #9a9ca6;
  color: rgba(0,0,0, 0.01);
  text-shadow: 0 0 4px #9a9ca6 !important;
  }

nav a:hover {
  color: #fff;
  color: rgba(255,255,255, 1.0);
  text-shadow: none !important;
}
*/

nav a,
nav a:visited,
nav a:focus {
  display: block;
  height: 63px;
  padding: 20px 20px 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: 600;
  border-top: 3px solid #000;
  margin-top: 1px;
}

nav a:hover {
  color: red;
  border-top-color: #c1c1c1;
}

nav a.active,
nav a.active:focus {
  color: #37b1ff;
  border-top-color: #FFCA3B;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  -moz-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  -o-transition: color 0.3s ease, border-top-color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

nav a.active:hover {
  color: #000;
  border-top-color: #FFCA3B;
}

nav a span {
  color: #c1c1c1;
  font-size: 12px;
  font-weight: normal;
}

article {
  padding: 40px 0;
}

#main article:first-of-type {
  padding-top: 20px;
}

article .row:last-of-type {
  margin-bottom: 0;
}

.mobile-only {
  display: none;
  /* display:block; in the Media-Queries */
}

.dark {
  background: #212121 url("../img/black_paper.jpg") repeat;
  color: #dbdbdb;
}

/* Box styling */

.box {
  background: #fff;
  display: block;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px #d5d5d5;
  -moz-box-shadow: 0 0 5px #d5d5d5;
  box-shadow: 0 0 5px #d5d5d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.container .row.box {
  padding: 10px 0;
}

.box.dark {
  background: #222;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px #fff;
  background: #212121 url("../img/black_paper.jpg") repeat;
}

.featured {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 15px 40px -20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 15px 40px -20px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 15px 40px -20px rgba(0, 0, 0, 0.7);
}

.dark .featured {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/*
blockquote,
.blockquote {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 3px rgba(0,0,0,0.3);
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  background:rgba(255,255,255,0.04);
  border:1px dashed rgba(255,255,255,0.1);
}
*/

/* Apply .headset to any container that should have a floating img */

.titleset {
  margin-bottom: 30px;
}

/* gradients */

.bottom-gradient {
  position: relative;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  z-index: -99;
  clear: both;
  margin: 0;
}

.bottom-gradient.between-rows {
  margin: -15px 0 15px 0;
}

.bottom-gradient span {
  border: medium none;
  display: block;
  height: 80px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -80px;
  z-index: -100;
}

.bottom-gradient .left {
  background: no-repeat url(../images/combined_gradient.png) 0 0;
  background: -webkit-radial-gradient(bottom right, circle, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0) 80px);
  background: -moz-radial-gradient(bottom right, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0) 80px);
  width: 80px;
  left: 0;
}

.bottom-gradient .center {
  background: no-repeat url(../images/combined_gradient.png) -114px 0;
  background: -webkit-radial-gradient(bottom left, circle, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0) 80px);
  background: -moz-radial-gradient(bottom left, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0) 80px);
  width: 80px;
  right: 0;
}

.bottom-gradient .right {
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
  top: -80px;
  background: url(../images/gradient.png);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0) 80px);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0) 80px);
}

/* content-specific containers */

.welcome-container {
  padding: 10px 20px;
}

/* Shadows effect (experimental. not yet ported on .dark sections) */

/* Responsive video embed support */

/* End of file to load in last */

header,
body {
  background: #eee url(../img/bg.png);
}

/* Media Queries */

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {
  #main {
    top: 67px;
    /* header height */
  }

  nav ul {
    height: 40px;
  }

  nav li a,
  nav li a:visited,
  nav li a:focus {
    display: inline-block;
    height: 40px;
    width: auto;
    padding: 23px 15px 0 15px;
  }

  nav li a span {
    display: none;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  header h1 {
    max-height: 60px;
  }
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
  .container .box .columns {
    width: 280px;
  }

  .container .row.box {
    padding: 10px;
  }

  header h1.logo.one-third.column {
    width: 50px;
    margin-top: 5px;
  }

  header nav.menu.two-thirds.column {
    width: 370px;
  }

  header h1.logo img {
    display: none;
  }

  header h1.logo img.mobile-only {
    display: block;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  nav li a,
  nav li a:visited,
  nav li a:focus {
    padding: 23px 10px 0 10px;
  }

  .container .box .columns {
    width: 400px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
  #main {
    top: 57px;
    /* header height */
  }

  nav li a,
  nav li a:visited,
  nav li a:focus {
    padding: 17px 3px 0 3px;
  }

  nav ul {
    height: 30px;
  }

  header h1.logo.one-third.column {
    width: 30px;
    margin-top: 10px;
  }

  header nav.menu.two-thirds.column {
    width: 270px;
  }
}

/* ==== Top navigation ==== */

header,
nav a,
nav a:visited,
nav a:focus {
  border-top-color: #4a4a4a;
  color: #333;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

nav a:hover {
  color: #000;
  border-top-color: #c1c1c1;
}

/* Active page link */

nav a.active,
nav a.active:focus {
  color: #2f96d8;
  border-top-color: #FFCA3B;
}

nav a.active:hover {
  color: #2f96d8;
  border-top-color: #FFCA3B;
}

nav a span {
  color: #888;
  font-size: 12px;
  font-weight: normal;
}

/* Content links */

a,
a:visited,
h3 a,
h3 a:visited,
h4 a,
h4 a:visited {
  color: #0092B2;
}

a:hover,
a:focus {
  color: #000;
}

/* Content links in dark context */

.dark a,
.dark a:visited {
  color: #FFCA3B;
}

.dark a:hover,
.dark a:focus {
  color: #fff;
}

img.alignleft {
  margin: 4px 15px 0 0;
  float: left;
}

/* Breadcrumbs */

.wufoo {
  height: 260px;
  transition: 1s;
}

.wufoo.closed {
  height: 0px;
  overflow: hidden;
  transition: 1s;
  transition-delay: 0.4s;
}

.wufoo.closed iframe {
  opacity: 0;
  transition: 1s;
  transition-delay: 0s;
}

.wufoo iframe {
  opacity: 1;
  transition: 1s;
  transition-delay: 0.4s;
}
