---
layout: "default"
priority: 0.8
---

%article#about
  .container
    .row.box.dark
      .seven.columns
        .welcome-container
          %h1 Hearing Industry Research Consortium
          %p
            The purpose of the Hearing Industry Research Consortium is to develop and direct a non-competitive, mutually agreed upon research agenda that benefits the hearing aid industry, its customers, and end-users.
          %a.button.featured.animate{href: "#requests"} View Request for Proposals
      .nine.columns
        .flexslider.animation-speed-slow.delay-between-slides-long.hide-controls
          %ul.slides{style: "height: 280px;"}
            %li{style: "width: 100%; float: left; margin-right: -100%; display: list-item;"}
              %img{src: "img/listening2.png", width: "520", height: "280"}
            %li{style: "width: 100%; float: left; margin-right: -100%; display: none;"}
              %img{src: "img/listening4.png", width: "520", height: "280"}
    .row
      %h2 Here’s How We Pursue Our Purpose
    .row
      .one-third.column.steps.one
        .step
          %h4 Identify
          %p
            Identifying non-competitive research topics, initiating requests for proposals (RFPs) in topic areas, and funding appropriate proposals
      .one-third.column.steps.two
        .step
          %h4 Support
          %p Supporting Educational Initiatives (e.g. research conferences)
      .one-third.column.steps.three
        .step
          %h4 Create
          %p Co-authoring Research Consortium position papers and conference presentations
      .bottom-gradient.between-rows
        %span.left
        %span.center
        %span.right
      %h2 Who We Are
      .one-third.column
        %p
          %img.alignleft.size-full{title: "Andrew Dittberner", src: "img/4.jpg", alt: "Andrew Dittberner", width: "74", height: "99"}
        %h4 Andrew Dittberner
        %p
          %img.alignnone.size-full{title: "gn_resound", src: "img/gn_resound.png", alt: "", width: "172", height: "50"}
      .one-third.column
        %h4
          %img.alignleft.size-full{title: "Sridhar Kalluri", src: "img/kalluri.jpg", alt: "Sridhar Kalluri", width: "74", height: "99"}
          Sridhar Kalluri
        %p
          %img.alignnone.size-full{title: "starkey", src: "img/starkey.png", alt: "", width: "130", height: "80"}
      .one-third.column
        %h4
          %img.alignleft.size-full{title: "Graham Naylor", src: "img/1.jpg", alt: "Graham Naylor", width: "74", height: "99"}
          Graham Naylor
        %p
          %img.alignnone.size-full{title: "oticon", src: "img/oticon.png", alt: "", width: "172", height: "80"}
    .row
      .one-third.column
        %h4
          %img.size-full.alignleft{title: "default", src: "img/JB.jpg", alt: "Joel Beilin", width: "74", height: "99"}
          Joel Beilin
        %p
          %img.alignnone.size-full{title: "Siemens", src: "img/Siemens.png", alt: "", width: "172", height: "57"}
      .one-third.column
        %h4
          %img.alignleft.size-full{title: "Morten Jepsen", src: "img/morten_jepsen.jpg", alt: "Morten Jepsen", width: "74", height: "99"}
          Morten Jepsen
        %p
          %img.alignnone.size-full{title: "widex", src: "img/widex.png", alt: "", width: "172", height: "50"}
      .one-third.column
        %h4
          %img.alignleft.size-full{title: "Stefan Launer", src: "img/stefan.jpg", alt: "Stefan Launer", width: "74", height: "99"}
          Stefan Launer
        %p
          %img.alignnone.size-full{title: "Phonak", src: "img/Phonak.png", alt: "", width: "130", height: "39"}
        %p &nbsp;
%article#news.dark
  .container
    .sixteen.columns.titleset
      %h2.remove-bottom Latest News
      %h6.subheader
    %ul.display-posts-listing
      :each newsItem in getCollection("newsItems").toJSON()
        %li.listing-item
          %a{href: "!{newsItem.url}"}= newsItem.title
          %span.date= ' (' + moment(newsItem.date).format('L') + ') - '
          %span.excerpt=  newsItem.summary
    %p
      %a{href: "/news"} View All News
%article#requests
  .container
    .accepting-proposals
      .row
        .sixteen.columns.titleset
          %h2.remove-bottom Current Request for Proposals
          %h4 Get started here to get your proposal sent in. Follow the three steps below and your proposal will be processed as soon as possible.
      .row
        .sixteen.columns
          %ol.proposalsteps
            %li
              %h3
                %a{href: "http://rfp.hearingirc.com", target: "_blank"} Read the Request for Proposal Document
              %p
                First, it is important that you download and read the RFP document prior to filling out your application form.
              %p
                %a{href: "http://rfp.hearingirc.com", target: "_blank"} Download Request for Proposal Document


            %li
              %h3
                %a{href: "http://application-form.hearingirc.com/", target: "_blank"} Complete the Grant Application Form
              %p
                After reading the RFP document, please download and fill out the Grant Application Form.
              %p
                %a{href: "http://application-form.hearingirc.com/", target: "_blank"} Download Grant Application Form

            %li
              %h3
                %a.expand{href: "#submissionform"} Submit Your Completed Grant Application Form
              %p
                Once you've read the RFP doc and completed the Grant Application form, upload your form via the RFP Submission Form.
              %p
                %a.expand.submission{href: "#submissionform"}RFP Submission Form

          %p
        .sixteen.columns.wufooform
          #wufoo-zbsmevu19u5xc3.wufoo.closed
            Fill out the
              %a{href: "https://proposals.hearingirc.com/"} form
            :javascript
              var zbsmevu19u5xc3;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'hearingirc',
              'formHash':'zbsmevu19u5xc3',
              'autoResize':true,
              'height':'320',
              'async':true,
              'host':'wufoo.com',
              'header':'show',
              'ssl':false};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { zbsmevu19u5xc3 = new WufooForm();zbsmevu19u5xc3.initialize(options);zbsmevu19u5xc3.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');
    .not-accepting-proposals
      .row
        .sixteen.columns.titleset
          %h2 Request for Proposals
          %h4 There is not a Request for Proposal open right now.
          %p
            However, you can enter your email below and we will email you when we announce the dates and availability of the next one!

          <form action="https://madmimi.com/signups/subscribe/102951" id="mad_mimi_signup_form" method="post" target="_blank">
              <div class="nine columns omega">
                  <input id="signup_email" name="signup[email]" type="text" data-required-field="This field is required" placeholder="you@example.com"/>
              </div>
              <div class="seven columns omega">
                  <input type="submit" class="submit" value="Sign Me Up!" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending…" data-invalid-text="↑ You forgot some required fields" data-choose-list="↑ Choose a list"></input>
              </div>
          </form>




%article#awards.dark
  .container
    .row
      .sixteen.columns.previous-grants
        %h2 Previous Awards
        %h4 Have a look at some of the previous awards granted.
        %p The IRC Grant program started in 2012 and is quickly gaining momentum. Get on board by making your proposal this year.


        .annual-rfp
          %h3 2013

          %dl.dl-horizontal
            %dt Topic
            %dd
              %a(href="/downloads/rfp_archive/2013_perception_of_dynamic_spatial_listening_scenarios_rfp.doc") Perception of Dynamic Spatial Listening Scenarios
            %dt Recipients
            %dd
              %ul.grant-recipients.list-inline
                %li.recipient H. Steven Colburn &amp; Theodoor Goverts
                %li.recipient Gitte Keidser &amp; Virginia Best
            %dt Announcement
            %dd
              %a.announcement(href="/news/announcing-the-2013-irc-grant-recipients") Announcing the 2013 IRC Grant Recipients

        %hr
        .annual-rfp
          %h3 2012

          %dl.dl-horizontal
            %dt
              Topic
            %dd
              %a(href="/downloads/rfp_archive/2012_cognition_rfp.doc") Cognition
            %dt Recipients
            %dd
              %ul.grant-recipients.list-inline
                %li.recipient Piers Dawes, Ph.D
                %li.recipient Andrea Pittman, Ph.D
            %dt Announcement
            %dd
              %a.announcement(href="/news/announcing-the-first-irc-grant-recipients") Announcing the First IRC Grant Recipients
