---
layout: default
title: "Submission Received!"
---

%article#top
  .container
    .sixteen.columns
      .breadcrumb-list
        %a{href: "/"} Home
        %span.chevron ›
        %span.breadcrumb-current Submission Received
    .sixteen.columns
      %h1 Your Submission has been received.
    .sixteen.columns
      %h3
        We will be in contact if there are any questions regarding your proposal.
      %br
      %h3
        All candidates will receive feedback when a decision has been made.
