---
layout: default
title: "Submission Received!"
---

%article#top
  .container
    .sixteen.columns
      .breadcrumb-list
        %a{href: "/"} Home
        %span.chevron ›
        %span.breadcrumb-current Notification Sign-up Confirmation
    .sixteen.columns
      %h1 Thanks!
    .sixteen.columns
      %h2
        We have added you to the list of people to notify when new request for proposals are released.
      %br
      %h3
        Don't forget to check your email and confirm your email address! This helps ensure the email has a better chance of avoiding your spam folder.
      %br
      %p
        For an extra degree of confidence in delivery, you can add
        %a{mailto: "contact@hearingirc.com"}> contact@hearingirc.com
        to your addressbook, as that tells your email provider you <em>really</em> want email from us.
      %p
        Thanks again for signing up!
