!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width initial-scale=1.0"}
    %title= (document.title || "Hearing Industry Research Consortium")

    %link(rel="alternate" type="application/rss+xml" href="rss.xml" title="HearingIRC News")
    %link(rel="shortcut icon" href="/img/favicon-2.ico")
    = getBlock('styles').add(['/css/app.css']).toHTML()
  %body.home.blog.landing-page.preload
    #main{role: "main"}
      %header
        .container
          %a{href: "/", title: "Hearing Industry Research Consortium"}
            %h1.logo.one-third.column.alpha
              %img.scale-with-grid{src: "/img/irclogo4.png", alt: "Hearing Industry Research Consortium", width: "300", height: "80"}
              %img.scale-with-grid.mobile-only{src: "/img/irclogosolo2.png", alt: "Hearing Industry Research Consortium", width: "50", height: "50"}
          %nav.menu.two-thirds.column.omega
            -# This helps make anchor-based links on the root page, but
            -# absolute URLs on all other pages. If removed, header links on
            -# sub-pages will not work correctly.
            - hrefHelp = document.url === "/index.html" ? "" : "/"
            %ul.nav
              %li
                %a.navLinks.active{href: "!{hrefHelp}#about"} About
                  %br
                  %span hearing aid irc
              %li
                %a.navLinks{href: "!{hrefHelp}#news"} News
                  %br
                  %span the latest
              %li
                %a.navLinks{href: "!{hrefHelp}#requests"} Requests
                  %br
                  %span for proposals
              %li
                %a.navLinks{href: "!{hrefHelp}#awards"} Awards
                  %br
                  %span granted
        %div.bottom-gradient
          %span.left
          %span.center
          %span.right

      = content

      %article#footer
        .container
          .two-thirds.column
            %p
              Copyright &copy;
              :javascript
                <!--
                  var year = new Date();
                  year = year.getYear();
                  if (year < 1900) year += 1900;
                  document.write(year);
                   //-->
              &nbsp;Hearing IRC, All Rights Reserved.
          %div.one-third.column
            %a{href: "mailto:contact@hearingirc.com"} contact@hearingirc.com
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{type: "text/javascript", src: "/js/jquery.flexslider-v1.8.min.js"}
    %script{type: "text/javascript", src: "/js/jquery.ba-hashchange-v1.3.min.js"}
    %script{type: "text/javascript",  src:"/js/rfp_manager.js"}
    %script{type: "text/javascript", src: "/js/main-r8.js"}

    != getBlock('scripts').toHTML()

    :if document.url === "/index.html"
      %script{type: "text/javascript", src: "/js/mimi_form_handler.js"}

    :javascript
      $(window).load(function() {
        $("body").removeClass("preload");
      });

      $(document).ready(function () {
        $(".expand").click(function (evt) {
          evt.preventDefault();
          $(this).toggleClass("open");
          $(".wufoo").toggleClass("closed");
        });

        $(".process").click(function (evt) {
          evt.preventDefault();
          $(".process-details").slideToggle();
        });

        function sectionToHide(whenAvail, whenNot) {
          var manager = new RFPManager();
          return manager.isAcceptingProposals() ? whenNot : whenAvail;
        }

        $(sectionToHide('.accepting-proposals', '.not-accepting-proposals')).hide();
      });
