---
layout: "default"
---

%article
  .container
    .row
      .sixteen.columns
        .breadcrumb-list
          %a{href: "/"} Home
          %span.chevron ›

          :if document.url === "/news/index.html"
            %span.breadcrumb-current News
          :if document.url !== "/news/index.html"
            %a{href: "/news/"} News
            %span.chevron ›
            %span.breadcrumb-current= document.title

    .row
      .sixteen.columns
        %h1= document.title
        - if(document.date)
        = content
        %h5.date= 'Published on: ' + moment(document.date).format('L')


