---
layout: default
title: "Submission Received!"
---

%article#top
  .container
    .sixteen.columns
      .breadcrumb-list
        %a{href: "/"} Home
        %span.chevron ›
        %span.breadcrumb-current Email Activation Confirmation
    .sixteen.columns
      %h1 Great job!
    .sixteen.columns
      %h2
        Your email has been activated.
      %br
      %p
        We mentioned this before, but for an extra degree of confidence in delivery, you can add
        %a{mailto: "contact@hearingirc.com"}> contact@hearingirc.com
        to your addressbook, as that tells your email provider you <em>really</em>&nbsp;want email from us.
      %p
        Thanks again for signing up!
