doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    title= locals.title
    link(rel="shortcut icon" href="img/favicon-2.ico")
    link(rel="stylesheet" href="css/app.css")
  body.home.blog.landing-page.hasGoogleVoiceExt(cz-shortcut-listen="true")
    div#main(role="main")
      header
        div.container
          h1.logo.one-third.column.alpha
            a(href="index.html" title="Hearing Industry Research Consortium")
              img.scale-with-grid(src="img/irclogo4.png" alt="Hearing Industry Research Consortium")
              img.scale-with-grid.mobile-only(src="img/irclogosolo2.png" alt="Hearing Industry Research Consortium")
          nav.menu.two-thirds.column.omega
            ul.nav
              li
                a.active(href="#about") About
                  br
                  span.
                    hearing aid irc
              li
                a(href="#news") News
                  br
                  span.
                    the latest
              li
                a(href="#requests") Requests
                  br
                  span.
                    for proposals
              li
                a(href="#contact") Contact
                  br
                  span.
                    get in touch
        div.bottom-gradient
          span.left
          span.center
          span.right

      block content

      article#footer
        div.container
          div.one-third.column
            p
              Copyright &copy;
              script.
                <!--
                  var year = new Date();
                  year = year.getYear();
                  if (year < 1900) year += 1900;
                  document.write(year);
                   //-->
              | &nbsp;Hearing IRC, All Rights Reserved.
          div.one-third.column
            p(style="text-align: center;")
          div.one-third.column
            p(style="text-align: right;")
              a(href="#about" class="button  animate") Back to top
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript" src="js/jquery.flexslider-v1.8.min.js")
    script(type="text/javascript" src="js/jquery.ba-hashchange-v1.3.min.js")
    script(type="text/javascript" src="js/main-r8.js")
